{{#each books}}

	<div class="row each-book">
 		<div class="col-lg-4">
			<!-- title, author, publisher, year, genre  -->
			<h3>{{title}}</h3>
			<h4><em>{{author}}</em></h4>
			<p>{{publisher}}, {{year}}</p>
			<p>{{genre}}</p>
			<p>{{type}}</p> {{!-- only populate when both databases are working --}}
		</div>
		
		<div class="col-lg-8">
	  		<p>{{synopsis}}</p>
	  	</div> 
	</div>

	
{{/each}}